<div ng-init="headerCtrl.init()">
    <div layout="row" layout-align="center center">
        <a class="logo">
            <img src="assets/images/Company-logo.png" alt="Company-logo">
        </a>
    </div>
    <!-- <pre>
      {{headerCtrl.userDetails | json}}
    </pre> -->
    <md-toolbar>
        <section class="main-container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Header Component</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a ui-sref="crud">Crud Operation</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </md-toolbar>
</div>